@import url('https://fonts.googleapis.com/css?family=Sarabun:200,400');
body,html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #444;
  color: #712c2c;
  font-weight: 500;
  font-family: 'Sarabun', sans-serif;
}
.fixed-nav-button{
	position: fixed;
	top: 0;
	right: 0;
	padding: 2em !important;
	margin: 0;
	text-align: right;
}
.st-pusher{
  transition: 0.5s;
}
.st-menu{
  background: #e46d6d;
}

section#introduction {
  background-image: url(../img/bg.jpeg);
  height: 100vh; 
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.fill-viewport {
  min-height: 100vh 
}
.header h1{
	margin: 0;
}
.cover-inner{
    padding-bottom: 40%!important;
}
.btn-giftbox{
  border:none;
  background: #e86460;
  color:#fff;
}
.btn-giftbox:hover{
  background: #b53f3f;
  color:#fff;
}
.btn-giftbox-secondary{
  border:none;
  background: #964745;
  color:#fff;
}
.btn-giftbox-secondary:hover{
  background: #b53f3f;
  color:#fff;
}
.cta-in-cover{
  font-weight: 100;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  
}
@media (max-width: 576px) {
    
}
@supports (-webkit-overflow-scrolling: touch) { /* CSS specific to iOS devices */ 
  .blur-effect{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/